.my-heading {
		margin-top: 70px;
		padding: 10px 15px;
	}
.wysibb {
    font-size: 14px;
}

.header .navbar-brand {

    margin-top: 3px;
}

	.my-logo {
		font-size: 18px;
		background: none repeat scroll 0% 0% rgb(255, 108, 0);
		padding: 18px 10px;
		color: rgb(255, 255, 255);
		border-radius: 100px;
		line-height: 3px;
		margin-top: -23px;
	}

	my-border {
			border-right: 1px solid rgb(238, 238, 238);
	}
	.col-sm-6 {
		padding: 0 50px;
	}


.ibox-content {
		background-color: #FFFFFF;
		color: inherit;
		padding: 15px 20px 20px 20px;
		border-color: #E7EAEC;
		border-image: none;
		border-style: solid solid none;
		border-width: 1px 0px;
}

.search-form {
		margin-top: 10px;
}

.search-result h3 {
		margin-bottom: 0;
		color: #1E0FBE;
}

.search-result .search-link {
		color: #006621;
}

.search-result p {
		font-size: 12px;
		margin-top: 5px;
}

.hr-line-dashed {
		border-top: 1px dashed #E7EAEC;
		color: #ffffff;
		background-color: #ffffff;
		height: 1px;
		margin: 20px 0;
}

h2 {
		font-size: 24px;
		font-weight: 100;
}

.form-control:focus {
		border-color: #F9A444;
		outline: 0px none;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(233, 176, 102, 0.6);
}


.badge {
		display: inline-block;
		min-width: 10px;
		padding: 3px 7px;
		font-size: 14px;
		font-weight: 700;
		color: #FFF;
		line-height: 1;
		vertical-align: baseline;
		white-space: nowrap;
		text-align: center;
		background-color: #FFF1E4;
		border-radius: 10px;
}

.hide {
		display: none !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border-radius: 0px;
}
.nav-tabs > li > a {

    font-size: 16px;
}
.my-badge {
	color: #fff;
	background: #FB6C00;
}

.answer {
	box-shadow: none;
	border: 0px;
	border-top: 1px solid #ddd;
	margin-bottom: 50px;
	border-radius: 0px;
}

.my-btn-success {
	background-color: #30D755;
}

my-active {
	background: #FB6C00 !important;
	border-color: #FB6C00 !important;
}

.pagination > li > a, .pagination > li > span {
    color: #FB6C00;
    border: 1px solid #DDD;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #FB6C00;
    border-color: #FB6C00;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #FB6C00;

}

.post .post-footer {
    background: #fafafa;
}

.input-lg {
    height: 44px;
}

/* linke wrap u odgovorima*/
.post .post-description {
    word-wrap: break-word;
}

.comment-body {
	word-wrap: break-word;
}

code {
	display: block;
    color: #2594C7;
    background-color: #F2F5F9;
    border-left: 4px solid #2594C7;
    padding: 10px;
}


.nav-tabs > li > a {
    margin-right: 0px;
    border-radius: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fbfbfb;
}

p {
    color: #434343;
}